
.containerDay {
    position: relative;
    background-color: rgb(221, 221, 221, 0.95);
    padding: 20px;
}

.divider {
    background-color: #000000;
}

.graphContainer {
    position: relative;
    background-color: rgb(233, 233, 233);
    z-index: 2;
    border-color: #aaaaaa;
    border-width: 1px;
    border-style: solid;
    margin: 10px;
}

.sectionBG img {
    position: absolute;
    padding-top: 36px;
    padding-bottom: 110px;
    padding-right: 15px;
    padding-left: 35px;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
    z-index: 1;
}

.sectionBGL img {
    position: absolute;
    padding-top: 36px;
    padding-bottom: 110px;
    padding-right: 15px;
    padding-left: 40px;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
    z-index: 1;
}

.sectionData {
    position: relative;
    padding-bottom: 20px;
    height: 100%;
    width: 100%;
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
    z-index: 2;
}

.sectionBGPie img {
    position: absolute;
    padding-top: 36px;
    padding-bottom: 76px;
    padding-right: 15px;
    padding-left: 15px;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
    z-index: 1;
}

.sectionDataPie {
    position: relative;
    padding-bottom: 20px;
    padding-left: 74px;
    height: 100%;
    width: 100%;
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
    z-index: 2;
}

.chartTitle {
    font-size: 16;
    padding-top: 7px;
}

.nutritionMenu {
    margin-top: 74px;
    margin-left: -74px;
}

.react-datepicker-popper {
    z-index: 3;
}