
.containerUser {
    /* position: relative; */
    background-color: rgb(221, 221, 221, 0.9);
    max-width: 400px;
    padding: 20px;
}

.userForm {
    /* position: relative; */
    background-color: rgb(221, 221, 221, 1);
    padding-top: 20px;
    /* padding-right: -300px; */
}

@media only screen and (max-width: 600px) {

    .containerUser {
        min-width: 100%;
        padding: 10px;
        margin: 0px;
    }
}
