
.containerWeek {
    position: relative;
    background-color: rgb(221, 221, 221, 0.95);
    padding: 20px;
}

.mixedGraphContainer {
    position: relative;
    padding: 40px;
    background-color: rgb(233, 233, 233);
    z-index: 2;
    border-color: #aaaaaa;
    border-width: 1px;
    border-style: solid;
    margin: 10px;
}