.footer {
    background-color: #8cdb99 !important;
    font-size: 14px;
    font-weight: bold;
    color: #5f5f5f !important;
}

.footer-copyright {
    color: #5f5f5f !important;
}

  
.footer a:link {
    color:  #5f5f5f !important;
}
  
.footer a:visited {
    color:  #5f5f5f !important;
}
  
.footer a:hover {
    color:  #000000 !important;
}

.teamMember {
    min-width: 135px;
}
.footer ul {
    display: table-cell;
    vertical-align: middle;
}

.footer a {
    display: block;
    padding: 10px;    
    margin-right: 5px;
    text-align: center;
}

.footer hr {
    border-color: #5f5f5f !important;
    border-width: 1px;
    border-style: solid;
}
.text{
    text-align: left;
    
    margin-left: -100px;
}
